/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 0pt;
		margin-top: 8pt;
		margin-bottom: 12pt;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: Tip;
	border-spacing-y: 0;
	border-spacing-x: 0;
	border-collapse: separate;
	max-id: 1;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: hidden;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	margin-left: 20pt;
	margin-top: 8pt;
	margin-bottom: 12pt;
	border-right-style: solid;
	border-right-width: 0px;
	border-left-style: solid;
	border-left-width: 4px;
	border-left-color: #22b24c;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	background-color: #f5f5f5;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 12px;
	font-size: 12pt;
	font-family: 'Segoe UI';
	vertical-align: top;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Tip
	{
		margin-left: 0pt;
		margin-top: 8pt;
		margin-bottom: 12pt;
		border-spacing: 0px 0px;
	}
}

.TableStyle-Tip
{
	border-collapse: separate;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: #22b24c;
	border-left-width: 4px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 20pt;
	margin-top: 8pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-Tip-Column-Column1
{
	
}

.TableStyle-Tip-HeadI-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-HeadI-Column1- p
{
	
}

.TableStyle-Tip-HeadE-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tip-HeadE-Column1- p
{
	
}

.TableStyle-Tip-HeadF-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-HeadF-Column1- p
{
	
}

.TableStyle-Tip-HeadH-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tip-HeadH-Column1- p
{
	
}

.TableStyle-Tip-HeadD-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-HeadD-Column1- p
{
	
}

.TableStyle-Tip-HeadC-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-HeadC-Column1- p
{
	
}

.TableStyle-Tip-HeadB-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tip-HeadB-Column1- p
{
	
}

.TableStyle-Tip-HeadA-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-HeadA-Column1- p
{
	
}

.TableStyle-Tip-HeadG-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-HeadG-Column1- p
{
	
}

.TableStyle-Tip-FootI-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-FootI-Column1- p
{
	
}

.TableStyle-Tip-FootE-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tip-FootE-Column1- p
{
	
}

.TableStyle-Tip-FootF-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-FootF-Column1- p
{
	
}

.TableStyle-Tip-FootH-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tip-FootH-Column1- p
{
	
}

.TableStyle-Tip-FootD-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-FootD-Column1- p
{
	
}

.TableStyle-Tip-FootC-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-FootC-Column1- p
{
	
}

.TableStyle-Tip-FootB-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tip-FootB-Column1- p
{
	
}

.TableStyle-Tip-FootA-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-FootA-Column1- p
{
	
}

.TableStyle-Tip-FootG-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Tip-FootG-Column1- p
{
	
}

.TableStyle-Tip-Body-Body1
{
	
}

.TableStyle-Tip-BodyI-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.TableStyle-Tip-BodyI-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
}

.TableStyle-Tip-BodyE-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tip-BodyE-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
}

.TableStyle-Tip-BodyF-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Tip-BodyF-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
}

.TableStyle-Tip-BodyH-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tip-BodyH-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
}

.TableStyle-Tip-BodyD-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Tip-BodyD-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
}

.TableStyle-Tip-BodyC-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.TableStyle-Tip-BodyC-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
}

.TableStyle-Tip-BodyB-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Tip-BodyB-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
}

.TableStyle-Tip-BodyA-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.TableStyle-Tip-BodyA-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
}

.TableStyle-Tip-BodyG-Column1-Body1
{
	font-family: 'Segoe UI';
	font-size: 12pt;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.TableStyle-Tip-BodyG-Column1-Body1 p
{
	font-family: 'Segoe UI';
	font-size: 12pt;
}


